<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title>Redirecting to <% if (title){ %><%= title %> | <% } %><%= config.title %>...</title>
  <meta http-equiv="refresh" content="0; url=http://<%= config.new_domain %>/<%= page.path %>">
  <link rel="canonical" href="http://<%= config.new_domain %>/<%= page.path %>" />
</head>
